
*{
  background-color: #0495a3;
}
.App {
  text-align: center;
  
}

.header h2 {
  color: #000;
  font-weight: bold;
}

.search {
display: flex;
gap: 20px;
justify-content: center;
height: 50px;
}

.paginationBtn {
  list-style: none;
  height: 30px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationBtn a {
  padding: 10px;
  margin: 8px;
  border: 1px solid #555 ;
  border-radius: 5px;
  background-color: #777;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.paginationBtn a:hover {
  color: #000;
}

.activedBtn {
  color: #fff;
}