
*{
  background-color: #adb5bd;
  text-align: center;
}

.App {
  text-align: center;
  
}

.header h2 {
  color: #000;
  font-weight: bold;
}

.search {
display: flex;
gap: 20px;
justify-content: center;
height: 50px;
}

.paginationBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}


.paginationBtn  p {
  margin: 10px;
}